
@font-face{

    font-family: iOS;
    src: url(fonts/SFPRODISPLAYREGULAR.OTF);
    }
    

    @font-face{

        font-family: biOS;
        src: url(fonts/SFPRODISPLAYBOLD.OTF);
        }
        
body {
    font-family: biOS;
    background-color: #000000;
}

.info-label {
    font-size: 18px;
        font-family: 'biOS';
        color: #ffffff78;
        padding-left: 10px;
        padding-block-end: 20px;

 }


nav {
    
    justify-content: space-between;
    height: 90px;
    width: 100%;
 
}


nav ul{
    background-size: 10% 10%;
list-style-type: none;
float: right;
margin-right: 10px;
}

nav ul li{
   
    line-height: 55px;
    

  
}



.Container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

p {
    height: 1px;

    color: gray;

    /* margin: auto; */
    margin-top: 35px;
    position: absolute;
}

p.version{
    padding-left: 10px;
    color: gray;
    font-family: biOS;
}

.card{

    width: 450px;
    border-radius: 10px;
    overflow: hidden;
}

.card img{

    width: 100%;
    height: auto;
     object-fit: cover;
    
}

nav ul li a{

  
    background: -webkit-linear-gradient(#4c00ff, #fc6fd9);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: buttonAnim 10s ease infinite;
border-radius: 10px;
color: white;
font-size: 30px;
text-decoration: none;
text-decoration-color: #000000;
}


@keyframes buttonAnim{

    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
    
    }
    




    label.logo {
        background: -webkit-linear-gradient(45deg, #4032ff, #ff0000 );
        -webkit-background-clip: text;
        background-size: 1000% 1000%;
        animation: LogoAnim 10s ease infinite;
        -webkit-text-fill-color: transparent;
        font-family: biOS;
        text-align: center;
        padding-left: 10px;
        border-radius: 4px;
        color: #f0f0f0;
        font-size: 35px;
        line-height: 80px;
    }

@keyframes LogoAnim{

    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
    
    }
    

label.Sourc{


color: gray;
font-family: iOS;
font-size: 14px;
padding-left: 10;

}

label.ShorDiv {
    color: #ffffff;
    display: inline-block;
    font-family: biOS;
    /* margin-top: 1110px; */
    height: 70px;
    font-size: 30px;
    top: 10px;
    /* position: sticky; */
    /* padding-top: 10px; */
    padding-left: 10px;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}


hr {
    height: 0.5px;
    border: none;
    width: 250px;
    background-color: #232323;
}



.cont {
    display: flex
;
    background: #ffffff23;
    height: 30px;
    margin-top: 15px;
    margin-left: 240px;
    font-size: 10px;
    width: 70px;
    border-radius: 111px;
    align-content: flex-end;
    justify-content: space-evenly;
}
a.Download {
    display: flex;
    border-radius: 100px;
    color: white;
    width: 40px;
    align-self: center;
    height: 30px;
    font-size: 20px;
    text-decoration: none;
    text-decoration-color: #000000;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #0053ff;
}

a.sDownload {
    display: flex;
    border-radius: 100px;
    color: white;
    width: 40px;
    align-self: center;
    height: 30px;
    font-size: 20px;
    text-decoration: none;
    text-decoration-color: #000000;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

.sp{

color: white;

}



    


.Shortcut1 img {
    display: flex;
    width: 14%;
    border-radius: 15px;
    height: 90%;
    /* padding-top: 1px; */
    align-self: center;
    object-fit: cover;
    gap: 5px;
}

.Shortcut1 {
    
        display: flex
    ;
        flex-wrap: nowrap;
        gap: 5px;
        height: 60px;
        width: 400px;
        background: #000000;
        color: white;
        border-radius: 10px;
        margin-top: 10px;
        margin-left: 10px;
    
}
.VerDiv {

   
        font-size: 18px;
        font-family: 'biOS';
        color: #00000078;
        padding-left: 10px;
        padding-block-end: 20px;
    
}

.IpaDiv {
    display: flex;
    flex-wrap: nowrap;
    gap: 5px;
    height: 60px;
    width: 400px;
    background: #00000000;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
   
    
   
}

.IpaDiv img {
    display: flex;
    width: 14%;
    border-radius: 15px;
    height: 90%;
    /* padding-top: 1px; */
    align-self: center;
    object-fit: cover;
    gap: 5px;
}

label.ShortName1 {
    text-align: left;
    margin-top: 10px;
    font-size: 20px;
    color: #f0f0f0;
    position: absolute;
    font-family: iOS;
}

.Content1 {
    
        height: auto;
        color: rgb(255, 255, 255);
        font-family: iOS;
        padding-left: 5px;
        height: 10px;
        flex-wrap: wrap;
        align-items: center;
  
}


.HorizontalSlider {
    display: block;
    width: 100%;
    overflow-x: scroll;
    padding-left: 10px;
}
.SlideContainer{

display: block;
white-space: nowrap;

}

.Item{
   
    display: inline-block;
    margin-right: 10px;

}

.Item img{

    
    width: 300px;
    border-radius: 10px;

}


.ReButton {
    height: 45px;
    width: 160px;
    background: #101010;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    align-items: center;
    align-content: center;
}

.Redir{

color: #ffffff;
font-family: biOS;
text-decoration: none;


}

.GIT {
    margin-top: 10px;
    height: 60px;
    display: flex;
    border-radius: 10px;
    background: #ffffff05;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.Hub{
    color: #ffffff;
    border-radius: 5px;
    display: flex;
    background: #4077c067;
    height: 40px;
    width: 180px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.Website{

    color: #ffffff;
    border-radius: 5px;
    display: flex;
    background: #15ff0067;
    height: 40px;
    width: 180px;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

.Featherr {
    background: -webkit-linear-gradient(9deg,#5e7ad6, #2528bb);
    display: flex
; background-size: 1000% 1000%;
animation: NowO 10s ease infinite;
    height: 200px;
    border-radius: 10px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

@keyframes NowO {

    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
    
    }

    .Scarlett {
        background: -webkit-linear-gradient(4deg,#222222, #ff0037);
        display: flex
    ; background-size: 1000% 1000%;
    animation: NowA 10s ease infinite;
        height: 200px;
        border-radius: 10px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }
    
    @keyframes NowA {

        0% {background-position: 0% 50%;}
        50% {background-position: 100% 50%;}
        100% {background-position: 0% 50%;}
        
        }

        .Sideee {
            background: -webkit-linear-gradient(4deg,#00a2ff, #b700ff);
            display: flex
        ; background-size: 1000% 1000%;
        animation: NowA 10s ease infinite;
            height: 200px;
            border-radius: 10px;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
            flex-direction: row;
        }
        
        @keyframes NowA {
    
            0% {background-position: 0% 50%;}
            50% {background-position: 100% 50%;}
            100% {background-position: 0% 50%;}
            
            }