@font-face{

font-family: iOS;
src: url(fonts/SFPRODISPLAYREGULAR.OTF);
}


@font-face{

    font-family: biOS;
    src: url(fonts/SFPRODISPLAYBOLD.OTF);
    }

body{

background : linear-gradient(45deg,#ffbd7e,rgb(226, 154, 255));
background-size: 1000% 1000%;
animation: gradientAnim 10s ease infinite;

}

@keyframes gradientAnim{

0% {background-position: 0% 50%;}
50% {background-position: 100% 50%;}
100% {background-position: 0% 50%;}

}

.StarterCard img{


    border-radius: 30px;
    height: 120px;
}

.StarterCard label {

font-family: biOS;
color: white;
text-align: center;

}

.Download i{



}

.dlb{

    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;

}

.Download{

    display: flex;
    align-content: center;
    color: white;
    font-family: biOS;
    
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 100px;
    align-self: center;
    background: #101010;
     

}

.StarterCard {
    display: flex;
    border-radius: 20px;
    /* padding-top: 20px; */
    display: flex;
    gap: 15px;
    margin: 30px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

p{

color: white;
text-align: center;
border-radius: 15px;
font-family: iOS;

}

h2{


    font-size: 16px;
    background-color: #101010;
    border-radius: 10px;
    text-align: center;
    font-family: iOS;
    color: #f0f0f0;
    height: 80px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}

a{

    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: iOS;
}

.feature {
    display: flex;
    background: #151515;
    height: 40px;
    width: 350px;
    text-align: left;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
}

.FeaturesTab h2 i{

background-color: #151515;

}

.FeaturesTab {
    margin: 5px;
    display: flex;
    padding: 10px;
    border-radius: 10px;
    background: #101010;
    flex-wrap: nowrap;
    align-content: center;
    text-align: center;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

i{
    padding-right: 2px;
    display: flex;
    border-radius: 1220px;
    height: 40px;
    text-align: center;
align-items: center;
align-content: center;
align-self: center;
    width: 40px;
    color: white;
    background-color: #101010;
    -webkit-text-fill-color: white;
    background-size: 1000% 1000%;
    animation: gradientAnim 10s ease infinite;

}

h1 {
   
    align-content: center;
    border-spacing: 10px;
    display: flex;
    width: auto;
    height: 40px;
    border-radius: 111px;
    background: #101010;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* padding-block-end: 69px; */
}
h1{

    text-align: center;
    font-family: iOS;
    color: #ffffff;
    

}

.Downloadspan{
    display: grid;
    padding-top: 5px;
    background: #101010;
    color: white;
    border-radius: 15px;

}